@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');
/* media queries */
@media (min-width: 992px) {
    .custom-navbar .custom-navbar-nav li {
      margin-left: 15px;
      margin-right: 15px; 
    } 
}
@media (min-width: 768px) {
    .custom-navbar .custom-navbar-nav li a:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 8px;
      right: 8px;
      background: #3b5d50;
      height: 5px;
      opacity: 1;
      visibility: visible;
      width: 0;
      -webkit-transition: .15s all ease-out;
      -o-transition: .15s all ease-out;
      transition: .15s all ease-out;
    } 
    .custom-navbar .custom-navbar-cta {
        margin-left: 40px !important; }
}

html,body{
margin: 0;
padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
}
.custom-navbar{
    background-color: #f0c300 !important;
}
.custom-navbar .navbar-brand {
    font-size: 30px;
    font-weight: 600; 
    letter-spacing: -1px;
}
.custom-navbar .navbar-brand > span {
    opacity: .4; }
.custom-navbar .custom-navbar-cta li {
    margin-left: 0px;
    margin-right: 0px; }
.custom-navbar .custom-navbar-cta li:first-child {
    margin-right: 20px; }
.custom-navbar-cta li:last-child{
    position: relative;
}
.count{
    display: flex;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right:-10px;
}
/* section appel a l'action */
.hero{
    background-color: #f0c300;
    padding: calc(8rem - 30px) 0 8rem 0;
}
.hero .intro-excerpt {
    position: relative;
    z-index: 4;
}
.hero h1{
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}
.hero h3{
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}
.btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #8B0000;
}
/* section produit */
.product-section {
    padding: 7rem 0;
}
.product-section .product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
}

/* footer section */
.footer-section {
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-section .relative {
    position: relative;
}


